@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@300&family=Source+Sans+Pro&display=swap');
header{
    display: grid;
    background-color: #F7BF50;
    grid-template-columns: 100px auto;
    grid-template-rows: 50px auto;
    align-items: center;
    font-size: x-large;
    padding: 25px 50px;
    font-family: 'Oswald', 'Roboto', 'Source+Sans+Pro', sans-serif;
}
#navbar{
    overflow: hidden;
}
#navbar a{
    float: left;
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;

}
nav a:hover{
    background-color:#36454F;
    color: antiquewhite;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .content {
    padding-top: 60px;
  }
.logo{
    width: 80px;
    margin-top: 10px;
    border: 4px solid black;
} 
.image{
    width: 100%;
} 
#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
.container{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
.overlay{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 350px;
}
.overlay h1{
color:antiquewhite;
text-align: center;
}
.overlay h2{

    text-align: center;
    color:black;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
body{
    background-color: #36454F;
    margin: auto;
    padding: 0;
}
#about1{
    display: grid;
    font-family:'Roboto','Poppins',sans-serif ;
    grid-column: 2/3;
    grid-row: 3/3;
}
#about1 h3{
    margin-top: 100px;
    text-align: center;
    font-size: x-large;
    color: antiquewhite;
}
#about1 p{
    font-weight: 800;
    text-align: center;
    font-size: larger;
    font-family:'Roboto','Poppins',sans-serif ;
    color: antiquewhite;
}
footer{
    background-color:#F7BF50;
    color: black;
    margin-top: 250px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Oswald', 'Roboto', 'Source+Sans+Pro', sans-serif ;
}
footer a{
    color: black;
    text-decoration: none;
    padding: 25px 50px;
}
footer a:hover{
    color: white;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
/* This section is under the motivation sub-page */
.ali{
    color: antiquewhite;
    font-family: 'Roboto', 'Source+Sans+Pro', sans-serif;
    margin-top: 150px;
    margin-left: 40px;
}
.imgali{
    margin-top: 20px;
    margin-left: 80px;
}
.damato{
    margin-top: 200px;
    color: antiquewhite;
    font-family: 'Roboto', 'Source+Sans+Pro', sans-serif;
    margin-left: 40px;
}
.imgdamato{
    margin-top: 20px;
    margin-left: 80px;
}
.mannyp{
    margin-top: 200px;
    color: antiquewhite;
    font-family: 'Roboto', 'Source+Sans+Pro', sans-serif;
    margin-left: 40px;
}
.tyson{
margin-top: 200px;
color: antiquewhite;
font-family: 'Roboto', 'Source+Sans+Pro', sans-serif;
margin-left: 40px;
}
.imgtyson{
    margin-top: 20px;
    margin-left: 80px;
}
.mannyimg{
    margin-top: 20px;
    margin-left: 80px;
}
